<div class="login">
    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form name="login_form" (ngSubmit)="onSubmit()">
            <h1>StyleTribute Admin</h1>
            <div>
              <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" required="" />
            </div>
            <div>
              <input type="submit" name="submit" class="btn btn-primary" value="Reset Password">
              <a class="reset_pass" routerLink="/login">Login</a>
            </div>
            <div class="clearfix"></div>
            <div class="separator">
              <p class="change_link">New to site?
                <a routerLink="/create-user" class="to_register"> Create Account </a>
              </p>
              <div class="clearfix"></div>
              <div>
                <h1>
                  <i class="fa fa-paw"></i> StyleTribute Admin</h1>
                <p>©2017 All Rights Reserved</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>