<div class="tab-pane" id="orders" [ngClass]="{'active': activatedRoute.snapshot.url[0].path === 'orders' }" *ngIf="store.getState().Customer.edit.orders.fetched">

  <div>
    <app-multi-purpose-search [(actions)]="search_actions"></app-multi-purpose-search>
  </div>

  <div class="form-inline">
    <per-page></per-page>
  </div>

  <table class="table table-striped table-bordered dataTable no-footer">
    <thead>
      <tr>
        <th>Order #
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Purchase On
          <sort-by-field field="created_at"></sort-by-field>
        </th>
        <th>Bill to Name
          <sort-by-field field="name"></sort-by-field>
        </th>
        <th>Shipped to Name
          <sort-by-field field="name"></sort-by-field>
        </th>
        <th>Order Total
          <sort-by-field field="total"></sort-by-field>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="store.getState().Customer.edit.orders.items | hasItem">
      <tr *ngFor="let order of store.getState().Customer.edit.orders.items">
        <td>{{ order.getId() }}</td>
        <td>{{ order.getCreated().format('ll') }}</td>
        <td>{{ order.getFullName() }}</td>
        <td>{{ order.getFullName() }}</td>
        <td>{{ order.getTotal() }}</td>
        <td>
          <button class="btn btn-primary btn-xs" appBlock>
            <i class="fa fa-undo"></i>
            Reorder
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <label for="">Total Amount: </label>
          <span>{{ store.getState().Customer.edit.orders.items | sumBy:'total' | currency:'SGD' }}</span>
        </td>
      </tr>
    </tfoot>
    <tbody *ngIf="!(store.getState().Customer.edit.orders.items | hasItem)">
      <tr>
        <td colspan="6" class="text-center">
          No records found.
        </td>
      </tr>
    </tbody>
  </table>

  <length-aware-paginator [(paginator)]="store.getState().Customer.edit.orders.pagination"></length-aware-paginator>
</div>