<div class="x_panel">
  <div class="dataTables_wrapper">
    <div class="x_content">

      <div class="row">
        <div class="breadcrumb-section">
          <ul class="breadcrumb">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>Couriers</li>
            <li>All</li>
          </ul>
        </div>
      </div>

      <div class="row">

        <div class="form-inline table-meta">
          <div class="table-actions">
            <div class="col-left">
              <per-page></per-page>
            </div>
            <div class="col-right search text-right">
              <a class="link link--underline" routerLink="/courier/create">
                Create courier
              </a>
            </div>
          </div>
        </div>

        <!-- {{ store.getState().Product.list | json }} -->

        <table class="table table-striped table-bordered dataTable no-footer">
          <thead>
            <tr>
              <th>ID
              </th>
              <th>Name
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="store.getState().Courier.list.items | hasItem">
            <tr *ngFor="let item of store.getState().Courier.list.items">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <a class="btn btn-dark btn-sm" routerLink="/courier/edit/{{ item.id }}">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)">
                  <i aria-hidden="true" class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!(store.getState().Courier.list.items | hasItem)">
            <tr>
              <td colspan="12">
                No Records Found
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <length-aware-paginator [(paginator)]="store.getState().Courier.list.pagination" [alwaysDisplay]="true"></length-aware-paginator>
    </div>
  </div>
</div>
