<div [formGroup]="form">
  <div [ngSwitch]="input.controlType">
    <div class="material-group" *ngSwitchCase="'textbox'">
      <div class="material-addone" *ngIf="input.icon">
        <i class="{{ input.icon }}"></i>
      </div>
      <div class="form-group form-primary">
        <input class="form-control" [formControlName]="input.key" [type]="input.type">
        <span class="form-bar"></span>
        <label class="float-label">{{input.label}}</label>
        <div class="errorMessage messages text-danger" *ngIf="submitted && !isValid">{{input.label}} is required</div>
      </div>
    </div>

    <div class="material-group flex-row" *ngSwitchCase="'dropdown'">
      <div class="material-addone" *ngIf="input.icon">
        <i class="{{ input.icon }}"></i>
      </div>
      <select [formControlName]="input.key" class="form-control">
        <option *ngFor="let opt of input.options" [value]="opt">{{opt.value}}</option>
      </select>
      <div class="errorMessage" *ngIf="submitted && !isValid">{{input.label}} is required</div>
    </div>

    <div class="material-group flex-row" *ngSwitchCase="'custom_dropdown'">
      <custom-selection [formControlName]="input.key" [(options)]="input.options"></custom-selection>
      <div class="errorMessage" *ngIf="submitted && !isValid">{{input.label}} is required</div>
    </div>

    <div class="material-group" *ngSwitchCase="'radio'">
      <div class="material-addone" *ngIf="input.icon">
        <i class="{{ input.icon }}"></i>
      </div>
      <div class="form-group form-primary">
        <div class="form-radio">
          <div class="group-add-on">
            <div class="radio radiofill" *ngFor="let opt of input.options" [ngClass]="{'radio-inline': input.isInlineStyle()}">
              <label>
                <input type="radio" [formControlName]="input.key" [value]="opt.value">
                <i class="helper"></i> {{ opt.key }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
