<div class="user-edit-component" *ngIf="store.getState().Users.editUser.fetched">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="/user">User</a>
        </li>
        <li class="breadcrumb-item">
          <a href="javascript:">{{ store.getState().Users.editUser.item.email }}</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="x_content">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 ">
        <form #form="ngForm">
          <div class="form-group">
            <label for="">Email
              <span class="required">*</span>
            </label>
            <input type="text" [ngClass]="{'parsley-error':email.invalid && form.submitted}" class="form-control input-sm" name="email" #email="ngModel" [(ngModel)]="store.getState().Users.editUser.item.email" required>
            <ul *ngIf="email.invalid && form.submitted" class="parsley-errors-list filled">
              <li class="parsley-required">This field is required.</li>
            </ul>
          </div>

          <div class="form-group">
            <label for="">Roles</label>
            <p>
              <label class="label label-success label--custom" *ngFor="let role of store.getState().Users.editUser.item.roles">
                {{ role.getName() }}
                <!-- <i class="fa fa-times-circle fa-custom" (click)="detachRoleFromUser(role)"></i> -->
              </label>
            </p>
            <span *ngFor="let r of store.getState().Users.editUser.roles">
              <input type="checkbox" name="role_{{ r.id }}" id="" [(ngModel)]="r.checked"> {{ r.name }}
            </span>
            <!-- <select name="role" [(ngModel)]="role" class="form-control input-sm form-control--inline">
              <option value="">--select--</option>
              <option [ngValue]="r" *ngFor="let r of store.getState().Users.editUser.roles">{{ r.name }}</option>
            </select>
            <button class="btn btn-dark btn-xs btn-no-margin" (click)="attachRoleToUser()">Add Role</button> -->
          </div>
          <hr>
          <div class="form-group">
            <button (click)="onSubmit(form)" class="btn btn-primary">Update User</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
