<div class="x_panel">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 ">
      <div class="breadcrumb-section">
        <ul class="breadcrumb">
          <li>
            <a routerLink="/">Home</a>
          </li>
          <li>
            <a routerLink="/customer">Customers</a>
          </li>
          <li>Detail</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="x_title">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 ">
        <h3>Customer Information</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-12 ">
      <!-- {{ store.getState().Customer.edit.item | json }} -->
      <div class="row">
        <div class="x_content">
          <div class="col-md-2 col-lg-2 col-xs-2">
            <ul class="nav nav-tabs tabs-left">
              <li [ngClass]="{'active': tabItems.customer_view }">
                <a routerLink="customer-view">Customer View</a>
              </li>
              <li [ngClass]="{'active': tabItems.account_info }">
                <a routerLink="account-info">Account Information</a>
              </li>
              <li [ngClass]="{'active': tabItems.addresses }">
                <a routerLink="addresses">Address</a>
              </li>
              <li [ngClass]="{'active': tabItems.orders }">
                <a routerLink="orders">Orders</a>
              </li>
              <li [ngClass]="{'active': tabItems.cart }">
                <a routerLink="cart">Shopping Cart</a>
              </li>
              <li [ngClass]="{'active': tabItems.wishlist }">
                <a routerLink="wishlist">Wishlist</a>
              </li>
              <li [ngClass]="{'active': tabItems.newsletter }">
                <a routerLink="newsletter">Newsletter</a>
              </li>
              <li [ngClass]="{'active': tabItems.offers_received }">
                <a routerLink="offers-received">Offers Received</a>
              </li>
              <li [ngClass]="{'active': tabItems.offers_made }">
                <a routerLink="offers-made">Offers Made</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10 col-lg-10 col-xs-10">
            <div class="tab-content">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>