<div class="x_panel">
  <div class="dataTables_wrapper">
    <div class="x_content">

      <div class="row">
        <div class="breadcrumb-section">
          <ul class="breadcrumb">
            <li>
              <a routerLink="/">Home</a>
            </li>
            <li>Providers</li>
            <li>Al</li>
          </ul>
        </div>
      </div>

      <div class="row">

        <div class="form-inline table-meta">
          <div class="table-actions">
            <div class="col-left">
              <per-page></per-page>
            </div>
            <div class="col-right search text-right">
              <a class="link link--underline" routerLink="/provider/create">
                Create Provider
              </a>
            </div>
          </div>
        </div>

        <!-- {{ store.getState().Product.list | json }} -->

        <table class="table table-striped table-bordered dataTable no-footer">
          <thead>
            <tr>
              <th>
                <input type="checkbox" class="ui-input" [(ngModel)]="selectAll">
              </th>
              <th>ID
                <span class="sorting" [ngClass]="{'sorting_desc': (orders.id === '-'), 'sorting_asc': (orders.id === '')}" (click)="sortBy('id')"></span>
              </th>
              <th>Name
                <span class="sorting" [ngClass]="{'sorting_desc': (orders.name === '-'), 'sorting_asc': (orders.name === '')}" (click)="sortBy('name')"></span>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="store.getState().Provider.list.items | hasItem">
            <tr *ngFor="let item of store.getState().Provider.list.items">
              <td>
                <input type="checkbox" class="ui-input" [checked]="selectAll" [(ngModel)]="item.checked">
              </td>
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <a class="btn btn-dark btn-sm" routerLink="/provider/edit/{{ item.id }}">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)">
                  <i aria-hidden="true" class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!(store.getState().Provider.list.items | hasItem)">
            <tr>
              <td colspan="12" style="text-align:center">
                No Records Found
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <app-pagination (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [page]="page" [perPage]="limit" [pagesToShow]="pagesToShow"
        [count]="store.getState().Style.list.total"></app-pagination> -->
      <length-aware-paginator [(paginator)]="store.getState().Provider.list.pagination" [alwaysDisplay]="true"></length-aware-paginator>
    </div>
  </div>
</div>
