<div class="tab-pane" [ngClass]="{'active': activatedRoute.snapshot.url[0].path === 'account-info' }" id="customer_detail"
 *ngIf="store.getState().Customer.edit.fetched">
	<form #form="ngForm">

		<div class="row">
			<div class="col-md-6 col-sm-6 col-12 ">
				<div class="form-group">
					<label for="">First Name
						<span class="required">*</span>
					</label>
					<input type="text" class="form-control input-sm" name="first_name" #first_name="ngModel" [(ngModel)]="store.getState().Customer.edit.item.customer.first_name"
					 [ngClass]="{'parsley-error':first_name.invalid && (first_name.dirty || first_name.touched) && form.submitted}" required>
					<ul *ngIf="first_name.invalid && (first_name.dirty || first_name.touched) && form.submitted" class="parsley-errors-list filled">
						<li class="parsley-required">This field is required.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-12 ">
				<div class="form-group">
					<label for="">Last Name
						<span class="required">*</span>
					</label>
					<input type="text" class="form-control input-sm" name="last_name" #last_name="ngModel" [(ngModel)]="store.getState().Customer.edit.item.customer.last_name"
					 [ngClass]="{'parsley-error':last_name.invalid && (last_name.dirty || last_name.touched) && form.submitted}" required>
					<ul *ngIf="last_name.invalid && (last_name.dirty || last_name.touched) && form.submitted" class="parsley-errors-list filled">
						<li class="parsley-required">This field is required.</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="">Email
				<span class="required">*</span>
			</label>
			<input type="email" class="form-control input-sm" name="email" #email="ngModel" [(ngModel)]="store.getState().Customer.edit.item.email"
			 [ngClass]="{'parsley-error':email.invalid && (email.dirty || email.touched) && form.submitted}" required>
			<ul *ngIf="email.invalid && (email.dirty || email.touched) && form.submitted" class="parsley-errors-list filled">
				<li class="parsley-required">This field is required.</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Associate to Website
						<span class="required">*</span>
					</label>
					<select disabled class="form-control input-sm" name="associate_website" #associate_website [ngClass]="{'parsley-error':associate_website.invalid && (associate_website.dirty || associate_website.touched) && form.submitted}"
					 required>
						<option value="">-- select --</option>
						<option value="DIY" selected>Style Tribute</option>
					</select>
					<ul *ngIf="associate_website.invalid && (associate_website.dirty || associate_website.touched) && form.submitted" class="parsley-errors-list filled">
						<li class="parsley-required">This field is required.</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Created From
					</label>
					<input type="text" readonly class="form-control input-sm" name="created_from" value="Style Tribute View">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Group
						<span class="required">*</span>
					</label>
					<select class="form-control input-sm" name="group" [(ngModel)]="store.getState().Customer.edit.item.group">
						<option value="">-- select --</option>
						<option [ngValue]="group.getName()" *ngFor="let group of store.getState().Customer.groups.items">{{ group.getName() }}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-12 ">
				<!-- <div class="form-group">
					<label for="">Phone</label>
					<input type="text" name="tel" class="form-control input-sm" [(ngModel)]="store.getState().Customer.edit.item.customer.phone">
				</div> -->
				<div class="form-group phone-group">
					<label for="">Phone
					</label>
					<app-phone-input name="phone" [(ngModel)]="store.getState().Customer.edit.item.customer.phone"></app-phone-input>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Date of Birth</label>
					<div class='input-group date'>
						<input type='text' class="form-control input-sm" name="birth" [(ngModel)]="store.getState().Customer.edit.item.customer.birth"
						/>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Gender</label>
					<select class="form-control input-sm" name="gender" [(ngModel)]="store.getState().Customer.edit.item.customer.gender">
						<option value="">-- select --</option>
						<option value="MALE">Male</option>
						<option value="FEMALE">Female</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Bottom Size</label>
					<select class="form-control input-sm" name="bottom_size" [(ngModel)]="store.getState().Customer.edit.item.customer.bottom_size">
						<option value="" class="" selected="selected">bottom size</option>
						<option label="XXS" value="XXS">XXS</option>
						<option label="XS" value="XS">XS</option>
						<option label="S" value="S">S</option>
						<option label="M" value="M">M</option>
						<option label="L" value="L">L</option>
						<option label="XL" value="XL">XL</option>
						<option label="AU4" value="AU4">AU4</option>
						<option label="AU5" value="AU5">AU5</option>
						<option label="AU6" value="AU6">AU6</option>
						<option label="AU7" value="AU7">AU7</option>
						<option label="AU8" value="AU8">AU8</option>
						<option label="AU9" value="AU9">AU9</option>
						<option label="AU10" value="AU10">AU10</option>
						<option label="AU12" value="AU12">AU12</option>
						<option label="AU14" value="AU14">AU14</option>
						<option label="AU16" value="AU16">AU16</option>
						<option label="AU18" value="AU18">AU18</option>
						<option label="AU20" value="AU20">AU20</option>
						<option label="AU22" value="AU22">AU22</option>
						<option label="FR32" value="FR32">FR32</option>
						<option label="FR34" value="FR34">FR34</option>
						<option label="FR35" value="FR35">FR35</option>
						<option label="FR35.5" value="FR35.5">FR35.5</option>
						<option label="FR36" value="FR36">FR36</option>
						<option label="FR36.5" value="FR36.5">FR36.5</option>
						<option label="FR37" value="FR37">FR37</option>
						<option label="FR37.5" value="FR37.5">FR37.5</option>
						<option label="FR38" value="FR38">FR38</option>
						<option label="FR38.5" value="FR38.5">FR38.5</option>
						<option label="FR39" value="FR39">FR39</option>
						<option label="FR39.5" value="FR39.5">FR39.5</option>
						<option label="FR40" value="FR40">FR40</option>
						<option label="FR40.5" value="FR40.5">FR40.5</option>
						<option label="FR41" value="FR41">FR41</option>
						<option label="FR42" value="FR42">FR42</option>
						<option label="FR44" value="FR44">FR44</option>
						<option label="FR46" value="FR46">FR46</option>
						<option label="FR48" value="FR48">FR48</option>
						<option label="IT36" value="IT36">IT36</option>
						<option label="IT38" value="IT38">IT38</option>
						<option label="IT40" value="IT40">IT40</option>
						<option label="IT42" value="IT42">IT42</option>
						<option label="IT44" value="IT44">IT44</option>
						<option label="IT46" value="IT46">IT46</option>
						<option label="IT48" value="IT48">IT48</option>
						<option label="UK2" value="UK2">UK2</option>
						<option label="UK3" value="UK3">UK3</option>
						<option label="UK4" value="UK4">UK4</option>
						<option label="UK5" value="UK5">UK5</option>
						<option label="UK6" value="UK6">UK6</option>
						<option label="UK7" value="UK7">UK7</option>
						<option label="UK8" value="UK8">UK8</option>
						<option label="UK10" value="UK10">UK10</option>
						<option label="UK12" value="UK12">UK12</option>
						<option label="UK16" value="UK16">UK16</option>
						<option label="UK18" value="UK18">UK18</option>
						<option label="UK20" value="UK20">UK20</option>
						<option label="UK22" value="UK22">UK22</option>
						<option label="UK24" value="UK24">UK24</option>
						<option label="US0" value="US0">US0</option>
						<option label="US1" value="US1">US1</option>
						<option label="US2" value="US2">US2</option>
						<option label="US3" value="US3">US3</option>
						<option label="US4" value="US4">US4</option>
						<option label="US5" value="US5">US5</option>
						<option label="US6" value="US6">US6</option>
						<option label="US7" value="US7">US7</option>
						<option label="US8" value="US8">US8</option>
						<option label="US9" value="US9">US9</option>
						<option label="US10" value="US10">US10</option>
						<option label="US12" value="US12">US12</option>
						<option label="US14" value="US14">US14</option>
						<option label="US16" value="US16">US16</option>
						<option label="One Size" value="One Size">One Size</option>
					</select>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Top Size</label>
					<select class="form-control input-sm" name="top_size" [(ngModel)]="store.getState().Customer.edit.item.customer.top_size">
						<option value="" class="" selected="selected">top size</option>
						<option label="XXS" value="XXS">XXS</option>
						<option label="XS" value="XS">XS</option>
						<option label="S" value="S">S</option>
						<option label="M" value="M">M</option>
						<option label="L" value="L">L</option>
						<option label="XL" value="XL">XL</option>
						<option label="AU4" value="AU4">AU4</option>
						<option label="AU5" value="AU5">AU5</option>
						<option label="AU6" value="AU6">AU6</option>
						<option label="AU7" value="AU7">AU7</option>
						<option label="AU8" value="AU8">AU8</option>
						<option label="AU9" value="AU9">AU9</option>
						<option label="AU10" value="AU10">AU10</option>
						<option label="AU12" value="AU12">AU12</option>
						<option label="AU14" value="AU14">AU14</option>
						<option label="AU16" value="AU16">AU16</option>
						<option label="AU18" value="AU18">AU18</option>
						<option label="AU20" value="AU20">AU20</option>
						<option label="AU22" value="AU22">AU22</option>
						<option label="FR32" value="FR32">FR32</option>
						<option label="FR34" value="FR34">FR34</option>
						<option label="FR35" value="FR35">FR35</option>
						<option label="FR35.5" value="FR35.5">FR35.5</option>
						<option label="FR36" value="FR36">FR36</option>
						<option label="FR36.5" value="FR36.5">FR36.5</option>
						<option label="FR37" value="FR37">FR37</option>
						<option label="FR37.5" value="FR37.5">FR37.5</option>
						<option label="FR38" value="FR38">FR38</option>
						<option label="FR38.5" value="FR38.5">FR38.5</option>
						<option label="FR39" value="FR39">FR39</option>
						<option label="FR39.5" value="FR39.5">FR39.5</option>
						<option label="FR40" value="FR40">FR40</option>
						<option label="FR40.5" value="FR40.5">FR40.5</option>
						<option label="FR41" value="FR41">FR41</option>
						<option label="FR42" value="FR42">FR42</option>
						<option label="FR44" value="FR44">FR44</option>
						<option label="FR46" value="FR46">FR46</option>
						<option label="FR48" value="FR48">FR48</option>
						<option label="IT36" value="IT36">IT36</option>
						<option label="IT38" value="IT38">IT38</option>
						<option label="IT40" value="IT40">IT40</option>
						<option label="IT42" value="IT42">IT42</option>
						<option label="IT44" value="IT44">IT44</option>
						<option label="IT46" value="IT46">IT46</option>
						<option label="IT48" value="IT48">IT48</option>
						<option label="UK2" value="UK2">UK2</option>
						<option label="UK3" value="UK3">UK3</option>
						<option label="UK4" value="UK4">UK4</option>
						<option label="UK5" value="UK5">UK5</option>
						<option label="UK6" value="UK6">UK6</option>
						<option label="UK7" value="UK7">UK7</option>
						<option label="UK8" value="UK8">UK8</option>
						<option label="UK10" value="UK10">UK10</option>
						<option label="UK12" value="UK12">UK12</option>
						<option label="UK16" value="UK16">UK16</option>
						<option label="UK18" value="UK18">UK18</option>
						<option label="UK20" value="UK20">UK20</option>
						<option label="UK22" value="UK22">UK22</option>
						<option label="UK24" value="UK24">UK24</option>
						<option label="US0" value="US0">US0</option>
						<option label="US1" value="US1">US1</option>
						<option label="US2" value="US2">US2</option>
						<option label="US3" value="US3">US3</option>
						<option label="US4" value="US4">US4</option>
						<option label="US5" value="US5">US5</option>
						<option label="US6" value="US6">US6</option>
						<option label="US7" value="US7">US7</option>
						<option label="US8" value="US8">US8</option>
						<option label="US9" value="US9">US9</option>
						<option label="US10" value="US10">US10</option>
						<option label="US12" value="US12">US12</option>
						<option label="US14" value="US14">US14</option>
						<option label="US16" value="US16">US16</option>
						<option label="One Size" value="One Size">One Size</option>
					</select>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-12 ">
				<div class="form-group">
					<label for="">Shoe Size</label>
					<select name="shoe_size" class="form-control input-sm" [(ngModel)]="store.getState().Customer.edit.item.customer.shoe_size">
						<option value="" class="" selected="selected">shoe size</option>
						<option label="34" value="34">34</option>
						<option label="34.5" value="34.5">34.5</option>
						<option label="35" value="35">35</option>
						<option label="35.5" value="35.5">35.5</option>
						<option label="36" value="36">36</option>
						<option label="36.5" value="36.5">36.5</option>
						<option label="37" value="37">37</option>
						<option label="37.5" value="37.5">37.5</option>
						<option label="38" value="38">38</option>
						<option label="38.5" value="38.5">38.5</option>
						<option label="39" value="39">39</option>
						<option label="39.5" value="39.5">39.5</option>
						<option label="40" value="40">40</option>
						<option label="40.5" value="40.5">40.5</option>
						<option label="41" value="41">41</option>
						<option label="41.5" value="41.5">41.5</option>
						<option label="42" value="42">42</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="">Tax/VAT Number</label>
			<input type="text" class="form-control input-sm" name="tax_number" [(ngModel)]="store.getState().Customer.edit.item.customer.tax_number">
		</div>
		<div class="form-group">
			<label for="">Bank Name</label>
			<input type="text" class="form-control input-sm" name="bank_name" [(ngModel)]="store.getState().Customer.edit.item.customer.bank_name">
		</div>
		<div class="form-group">
			<label for="">Bank Code</label>
			<input type="text" class="form-control input-sm" name="bank_code" [(ngModel)]="store.getState().Customer.edit.item.customer.bank_code">
		</div>
		<div class="form-group">
			<label for="">Bank Benefeciary</label>
			<input type="text" class="form-control input-sm" name="bank_benefeciary" [(ngModel)]="store.getState().Customer.edit.item.customer.bank_benefeciary">
		</div>
		<div class="form-group">
			<label for="">Bank Account Number</label>
			<input type="text" class="form-control input-sm" name="bank_account" [(ngModel)]="store.getState().Customer.edit.item.customer.bank_account">
		</div>
		<div class="form-group">
			<label for="">Bank Branch Code</label>
			<input type="text" class="form-control input-sm" name="bank_branch_code" [(ngModel)]="store.getState().Customer.edit.item.customer.bank_branch_code">
		</div>
		<div class="form-group">
			<label for="">Offer E-Mail</label>
			<input type="text" class="form-control input-sm" name="offer_email" [(ngModel)]="store.getState().Customer.edit.item.customer.offer_email">
		</div>

		<div class="form-group">
			<label for="">Customer Type</label>
			<select class="form-control input-sm" name="group" [(ngModel)]="store.getState().Customer.edit.item.customer.customer_type">
				<option value="">-- select --</option>
				<option [ngValue]="group.getName()" *ngFor="let group of store.getState().Customer.groups.items">{{ group.getName() }}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="">Whitegloveverify</label>
			<input type="checkbox" name="whitegloveverify" [(ngModel)]="store.getState().Customer.edit.item.customer.whitegloveverify"
			/>
		</div>
		<div class="form-group">
			<label for="">Enable Offers</label>
			<input type="checkbox" name="enable_offer" [(ngModel)]="store.getState().Customer.edit.item.customer.enable_offer" />
		</div>
		<div class="form-group">
			<label for="">Can do Pricing ?</label>
			<input type="checkbox" name="can_do_pricing" [(ngModel)]="store.getState().Customer.edit.item.customer.can_do_pricing" />
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm" (click)="onSubmit(form)">
				<i class="fa fa-save"></i>
				<span>Save</span>
			</button>
		</div>
	</form>
</div>