<div class="tab-pane" id="offers_made" *ngIf="store.getState().Customer.edit.fetched">
  <div>
    <app-multi-purpose-search [(actions)]="search_actions"></app-multi-purpose-search>
  </div>

  <div class="form-inline">
    <per-page></per-page>
  </div>

  <table class="table table-striped table-bordered dataTable no-footer">
    <thead>
      <tr>
        <th>Created Date
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Status
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Amount
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Final Amount
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Product
          <sort-by-field field="id"></sort-by-field>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td colspan="6">No records found.</td>
      </tr>
    </tbody>
  </table>
</div>