app-card {
  table {
    ul {
      li {
        strong {
          font-weight: bold;
        }
      }
    }
  }
}
.list-user-modal .modal-content{
  padding: 30px;
  td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
