<div class="tab-pane" id="newsletter" [ngClass]="{'active': activatedRoute.snapshot.url[0].path === 'newsletter' }" *ngIf="store.getState().Customer.edit.fetched">
  <div class="form-group">
    <label for="">Subscribed to Newsletter?</label>
    <input type="checkbox" class="js-switch" id="subscribe" />
  </div>
  <div class="form-group">
    <label for="">SMS Notification</label>
    <input type="checkbox" class="js-switch" id="sms_notify" />
  </div>
  <div class="form-group">
    <label for="">Email Notification</label>
    <input type="checkbox" class="js-switch" id="email_notify" />
  </div>
</div>