<div class="tab-pane" id="address" *ngIf="store.getState().Customer.edit.fetched" [ngClass]="{'active': activatedRoute.snapshot.url[0].path === 'addresses' }">
  <form #form="ngForm">
    <div *ngIf="createNew">
      <div class="form-group">
        <label for="">Company (optional)</label>
        <input type="text" name="company" [(ngModel)]="address.company" class="form-control input-sm">
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-12 ">
          <div class="form-group">
            <label for="">First Name
              <span class="required">*</span>
            </label>
            <input type="text" name="first_name" #first_name="ngModel" [(ngModel)]="address.first_name" class="form-control input-sm"
              [ngClass]="{'parsley-error':first_name.invalid && (first_name.dirty || first_name.touched) && form.submitted}"
              required>
            <ul *ngIf="first_name.invalid && (first_name.dirty || first_name.touched) && form.submitted" class="parsley-errors-list filled">
              <li class="parsley-required">This field is required.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12 ">
          <div class="form-group">
            <label for="">Last Name
              <span class="required">*</span>
            </label>
            <input type="text" name="last_name" #last_name="ngModel" [(ngModel)]="address.last_name" class="form-control input-sm" [ngClass]="{'parsley-error':last_name.invalid && (last_name.dirty || last_name.touched) && form.submitted}"
              required>
            <ul *ngIf="last_name.invalid && (last_name.dirty || last_name.touched) && form.submitted" class="parsley-errors-list filled">
              <li class="parsley-required">This field is required.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-12 ">
          <div class="form-group">
            <label for="">Street Address 1
              <span class="required">*</span>
            </label>
            <input type="text" name="address_1" #address_1="ngModel" [(ngModel)]="address.address_1" class="form-control input-sm" [ngClass]="{'parsley-error':address_1.invalid && (address_1.dirty || address_1.touched) && form.submitted}"
              required>
            <ul *ngIf="address_1.invalid && (address_1.dirty || address_1.touched) && form.submitted" class="parsley-errors-list filled">
              <li class="parsley-required">This field is required.</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12 ">
          <div class="form-group">
            <label for="">Street Address 2</label>
            <input type="text" name="address_2" [(ngModel)]="address.address_2" class="form-control input-sm">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">City
          <span class="required">*</span>
        </label>
        <input type="text" name="city" #city="ngModel" [(ngModel)]="address.city" class="form-control input-sm" [ngClass]="{'parsley-error':city.invalid && (city.dirty || city.touched) && form.submitted}"
          required>
        <ul *ngIf="city.invalid && (city.dirty || city.touched) && form.submitted" class="parsley-errors-list filled">
          <li class="parsley-required">This field is required.</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input type="text" name="state" [(ngModel)]="address.state" class="form-control input-sm">
      </div>
      <div class="form-group">
        <!-- <app-country-field [modelName]="address.country"></app-country-field> -->
        <label for="">Country</label>
        <select class="form-control input-sm" name="country" #country="ngModel" [(ngModel)]="address.country" [ngClass]="{'parsley-error':country.invalid && (country.dirty || country.touched) && form.submitted}"
          required>
          <option value="">-- select --</option>
          <option *ngFor="let item of COUNTRIES" [ngValue]="item.alpha2Code">{{ item.name }}</option>
        </select>
        <ul *ngIf="country.invalid && (country.dirty || country.touched) && form.submitted" class="parsley-errors-list filled">
          <li class="parsley-required">This field is required.</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="">ZipCode
          <span class="required">*</span>
        </label>
        <input type="text" name="zipcode" #zipcode="ngModel" [(ngModel)]="address.zipcode" class="form-control input-sm" [ngClass]="{'parsley-error':zipcode.invalid && (zipcode.dirty || zipcode.touched) && form.submitted}"
          required>
        <ul *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched) && form.submitted" class="parsley-errors-list filled">
          <li class="parsley-required">This field is required.</li>
        </ul>
      </div>
      <div class="form-group phone-group">
        <label for="">Phone
          <!-- <span class="required">*</span> -->
        </label>
        <app-phone-input name="phone" [(ngModel)]="address.phone"></app-phone-input>
      </div>

      <div class="form-group">
        <!-- {{ isUpdate | json }} -->
        <button class="btn btn-danger btn-xs" (click)="openCreateAddressForm()">Cancel</button>
        <button class="btn btn-dark btn-xs" (click)="addAddress(form)" *ngIf="!isUpdate">Save</button>
        <button class="btn btn-dark btn-xs" (click)="updateAddress(form)" *ngIf="isUpdate">Update</button>
      </div>
    </div>
    <div class="address-list" *ngIf="!createNew">
      <div class="text-right btn-wrapper">
        <a class="link link--green" (click)="openCreateAddressForm()">
          <i class="fa fa-plus"></i>
          <span>New Address</span>
        </a>
      </div>
      <div *ngIf="store.getState().Customer.edit.addresses | hasItem">
        <div class="address-item" *ngFor="let address of store.getState().Customer.edit.addresses">
          <div class="address-item__inner">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-12 ">
                <h4 class="customer-name">
                  <span *ngIf="store.getState().Customer.edit.item.customer">
                    {{ store.getState().Customer.edit.item.customer.getFullName() }}
                  </span>
                </h4>
                <div class="customer-address">
                  <span>
                    {{ address.company }}
                  </span>
                  <br>
                  <span>
                    {{ address.address_1 }}
                  </span>
                  <br>
                  <span>
                    {{ address.address_2 }}
                  </span>
                  <br>
                  <span>
                    {{ address.city }}, {{ address.zipcode }}
                  </span>
                  <br>
                  <span>
                    {{ address.state }}
                  </span>
                  <br>
                  <span>
                    {{ address.country }}
                  </span>
                </div>
                <div class="customer-info">
                  <span>Email: {{ store.getState().Customer.edit.item.email }}</span>
                  <br>
                  <span>Phone:
                    <span *ngIf="address.phone_code">
                      (+{{ address.phone_code }})
                    </span>
                    <span *ngIf="address.phone">
                      {{ address.phone.value }}
                    </span>
                  </span>
                </div>
                <div class="btn-container">
                  <a class="link link--green" (click)="editAddress(address)">Edit</a>
                  <span>|</span>
                  <swal #removeAddress title="Remove Address" [showCancelButton]="true" text="Do you want to delete this address?" type="warning"
                    (confirm)="deleteAddress(address)"></swal>
                  <a [swal]="removeAddress" class="link link--green">Delete</a>
                </div>
              </div>
              <div class="col-md-7 col-sm-6 col-12 ">
                <ul class="default-box">
                  <li class="default-box__item">
                    <div class="default-box__label">
                      <span *ngIf="address.is_default" class="default-address shipping-default">Default</span>
                      <span [ngClass]="{'text-bold': address.is_default}">
                        Ship Order to this Address
                      </span>
                    </div>
                    <div class="default-box__input">
                      <input type="checkbox" name="isDefault_{{ address.id }}" [(ngModel)]="address.is_default" (click)="setDefaultAddress(address)"
                      />
                    </div>
                  </li>
                  <li class="default-box__item">
                    <div class="default-box__label">
                      <span *ngIf="address.is_default_billing" class="default-address shipping-default">Default</span>
                      <span [ngClass]="{'text-bold': address.is_default_billing}">
                        Bill to this Address
                      </span>
                    </div>
                    <div class="default-box__input">
                      <input type="checkbox" name="is_default_billing_{{ address.id }}" [(ngModel)]="address.is_default_billing" (click)="setDefaultBilling(address)"
                      />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="!(store.getState().Customer.edit.addresses | hasItem)">
        This customer has no saved addresses
      </div>
    </div>
  </form>
</div>