<div class="customer-create-component">
  <div class="row mgb-20">
    <div class="col s12">
      <ul class="breadcrumb-title">
        <li class="breadcrumb-item">
          <a routerLink="/">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a routerLink="customer">Customer</a>
        </li>
        <li class="breadcrumb-item">
          <a>Create</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <form #form="ngForm">
        <div class="row">
          <div class="col s12 m6">
            <div class="form-group">
              <label for="">First Name
                <span class="required">*</span>
              </label>
              <input type="text" id="first_name" class="form-control input-sm" name="first_name" #first_name="ngModel" [(ngModel)]="customer.first_name" [ngClass]="{'parsley-error':first_name.invalid && form.submitted}" required>
              <ul *ngIf="first_name.invalid && form.submitted" class="parsley-errors-list filled">
                <li class="parsley-required">This field is required.</li>
              </ul>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="form-group">
              <label for="">Last Name
                <span class="required">*</span>
              </label>
              <input type="text" id="last_name" class="form-control input-sm" name="last_name" #last_name="ngModel" [(ngModel)]="customer.last_name" [ngClass]="{'parsley-error':last_name.invalid && form.submitted}" required>
              <ul *ngIf="last_name.invalid && form.submitted" class="parsley-errors-list filled">
                <li class="parsley-required">This field is required.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="">Email
            <span class="required">*</span>
          </label>
          <input type="email" id="email" name="email" #email="ngModel" class="form-control input-sm" [(ngModel)]="customer.email" [ngClass]="{'parsley-error':email.invalid && form.submitted}" required>
          <ul *ngIf="email.invalid && form.submitted" class="parsley-errors-list filled">
            <li class="parsley-required">This field is required.</li>
          </ul>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="form-group">
              <label for="">Password
                <span class="required">*</span>
              </label>
              <input type="password" id="password" name="password" #password="ngModel" class="form-control input-sm" [(ngModel)]="customer.password" [ngClass]="{'parsley-error':password.invalid && form.submitted}" required>
              <ul *ngIf="password.invalid && form.submitted" class="parsley-errors-list filled">
                <li class="parsley-required">This field is required.</li>
              </ul>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="form-group">
              <label for="">Re Password
                <span class="required">*</span>
              </label>
              <input type="password" id="repassword" name="re_password" #re_password="ngModel" class="form-control input-sm" [(ngModel)]="customer.re_password" [ngClass]="{'parsley-error':re_password.invalid && form.submitted}" required>
              <ul *ngIf="re_password.invalid && form.submitted" class="parsley-errors-list filled">
                <li class="parsley-required">This field is required.</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m4">
            <div class="form-group">
              <label for="">Gender</label>
              <select class="form-control input-sm" name="gender" [(ngModel)]="customer.gender">
                <option value="">-- select --</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary" (click)="onSubmit(form)">
        </div>
      </form>
    </div>
  </div>
</div>
