<div class="x_panel">
  <div class="dataTables_wrapper">
    <div class="x_content">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12 ">
          <div class="breadcrumb-section">
            <ul class="breadcrumb">
              <li>
                <a routerLink="/">Home</a>
              </li>
              <li>
                <a routerLink="/orders">Orders</a>
              </li>
              <li>All</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-12 ">
        </div>
      </div>

      <div class="form-inline table-meta">
        <div class="table-actions">
          <div class="row">
            <div class="col-md-10 col-sm-10 col-12 ">
              <per-page></per-page>
            </div>
            <div class="col-md-2 col-sm-2 col-12  text-right">
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12 ">
          <div class="form-inline">
            <label class="" for="orderStatus">Status</label>
            <select name="orderStatus" id="orderStatus" class="form-control input-sm" #status (change)="store.dispatch({type: UPDATE_ORDER_FILTER, field: 'status', data: status.value})">
              <option value="">--status--</option>
              <option value="canceled">Canceled</option>
              <option value="closed">Closed</option>
              <option value="complete">Complete</option>
              <option value="fraud">Suspected Fraud</option>
              <option value="holded">On Hold</option>
              <option value="payment_review">Payment Review</option>
              <option value="pending">Pending</option>
              <option value="pending_payment">Pending Payment</option>
              <option value="pending_paypal">Pending PayPal</option>
              <option value="processing">Processing</option>
            </select>
            <label class="" for="courier">Courier</label>
            <select name="courier" id="courier" class="form-control input-sm" #courier (change)="store.dispatch({type: UPDATE_ORDER_FILTER, field: 'shipping_courrier', data: courier.value})">
              <option value="">--courier--</option>
              <option value="aramex">Aramex</option>
              <option value="dhl">DHL</option>
              <option value="tablerate_bestway">Table Rate</option>
            </select>
          </div>
        </div>
      </div>

      <!-- {{ store.getState().Order.list.items | json }} -->

      <div class="row">
        <div class="col-md-12 col-sm-12 col-12 ">
          <loader *ngIf="!(store.getState().Order.list.fetched)"></loader>
          <table *ngIf="store.getState().Order.list.fetched" class="table table-striped table-bordered dataTable no-footer">
            <thead>
              <tr>
                <th>ID
                  <sort-by-field field="id"></sort-by-field>
                </th>
                <th>Item(s)</th>
                <th>Purchased On
                  <sort-by-field field="created_at"></sort-by-field>
                </th>
                <th>Bill to Name
                  <sort-by-field field=""></sort-by-field>
                </th>
                <th>Ship to Name
                  <sort-by-field field=""></sort-by-field>
                </th>
                <th>G.T (Base)
                  <sort-by-field field=""></sort-by-field>
                </th>
                <th>G.T (Purchased)
                  <sort-by-field field=""></sort-by-field>
                </th>
                <th>Tracking Number
                  <sort-by-field field="shipping_tracking_number"></sort-by-field>
                </th>
                <th>Courier Id
                  <sort-by-field field="shipping_courrier"></sort-by-field>
                </th>
                <th>Status
                  <sort-by-field field="status"></sort-by-field>
                </th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="store.getState().Order.list.items | hasItem">
              <tr *ngFor="let item of store.getState().Order.list.items">
                <td>{{ item.id }}</td>
                <td>{{ item.products | length }}</td>
                <td>{{ item.getCreated().format('ll') }}</td>
                <td>
                  <span *ngIf="item.customer_user">
                    {{ item.customer_user.getName() }}
                  </span>
                </td>
                <td>
                  <span *ngIf="item.customer_user">
                    {{ item.customer_user.getName() }}
                  </span>
                </td>
                <td>{{ item.total | currency:'SGD' }}</td>
                <td>{{ item.total | currency:'SGD' }}</td>
                <td>{{ item.shipping_tracking_number }}</td>
                <td>{{ item.shipping_courrier }}</td>
                <td>{{ item.status }}</td>
                <td>
                  <a class="btn btn-dark btn-sm icon-only" routerLink="/order/edit/{{ item.getId() }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>

            <tbody *ngIf="!(store.getState().Order.list.items | hasItem)">
              <tr>
                <td colspan="10" style="text-align:center">
                  No Orders Found
                </td>
              </tr>
            </tbody>
          </table>
          <length-aware-paginator [(paginator)]="store.getState().Order.list.pagination"></length-aware-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
